@font-face {
  font-family: Karla;
  src: url('/fonts/Karla-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Karla;
  src: url('/fonts/Karla-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

:root {
  --gn-200: hsl(148, 38%, 91%);
  --gn-600: hsl(169, 82%, 27%);
  --r: hsl(0, 66%, 54%);
  --w: hsl(0, 0%, 100%);
  --gy-500: hsl(186, 15%, 59%);
  --gy-900: hsl(187, 24%, 22%);

  --unchecked: hsl(from var(--gy-500) h calc(s - 10) calc(l + 25));
}

html {
  font-size: clamp(16px, 16 / 375 * 100vw, 20px);
}

*,
*::before,
*::after {
  font-family: Karla;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}